<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>Nyaaa</title>
      <link rel="stylesheet" href="./app/assets/stylesheets/application.css">
    </head>
    <body>
      <h1>Nyaaa</h1>
      <p>Send cat pics to all your friends!</p>
      <form>
        Username:<br>
        <input type="text" name="username" value="username">
        <br>
        Password:<br>
        <input type="text" name="password" value="password">
        <br>
        <input type="submit" value="Submit">
    </form>
    <a href="#">Sign Up</a>
    </body>
  </html>
