<!DOCTYPE html>
<html>
	<head>
	  <title>Nyaaa</title>
	  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap.css">
	  <link rel="stylesheet" href="//railsgirls.com/assets/bootstrap-theme.css">
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>

	<body>
		<h1>Nyaaa</h1>
		<img src="#" alt="cat_image">
		<form>
		<h1 id="test1">HLEWLLLLOOEOOEOEOO</h1>
		  Username:<br>
		  <input type="text" name="username" value="username">
		  <br>
		  Password:<br>
		  <input type="text" name="password" value="password">
		  <br>
		  <input type="submit" value="Submit">
		</form>
		<a href="#">Sign Up</a>
	</body>
</html>