<div>
  <% @messages.each do |message| %>
    <p><%= message.sender.email %></p>
  <% end %>
</div>

<div>
  <form action="/messages"method="post">
      <input type='submit' value='submit'>
  </form>
</div>
