<div id='message_list'>
  <% @messages.each do |message| %>
    <div id='<%= message.id %>'>
      <a href="/messages/<%= message.id %>"><%= message.sender.email %></a>
    </div>
  <% end %>
</div>

<div id='main'>
  <div id='friend_list'>
    <form action="/messages"method="post">
        <input type='submit' value='submit'>
    </form>
  </div>
</div>
