* {
 outline: 1px solid red;
 font-family: sans-serif;
 /*text-align: center;*/
}

#landing_image {
  height: 100px;
  width: 100px;
}

#message_list{
  margin-top: 20%;
/*  text-align: left;
  width: 20em;
  display: inline-block;*/
}

#message_list div {
  padding: 1em;
}

/*#main {

  width: 30em;

  display: inline-block;
  padding-bottom: 30em;
}*/

#navbar-brand{
	width: 10%;
}


#cats_world {
	max-width: 10%;
	background-color: red;
}
